<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
	    <title>Company Corp</title>
	    <link rel="stylesheet" href="/css/bootstrap.css">
    </head>
    <body>
        <div id="nav">
            <%- include('partials/navigation') %>
        </div>
        <div id="container">
            <%- body %>
        </div>
        <div id="footer">
            <%- include('partials/footer') %>
        </div>
    </body>
</html>