<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Navbar Header -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Company Corp</a>
        </div>

        <!-- Navbar Links -->
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/users/new">New User</a></li>
            <li><a href="/users">All Users</a></li>
                
            <!-- Disabled Link -->
            <li class="disabled"><a href="#">Disabled Link</a></li>
        </ul>
    </div>
</nav>
